html {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(0, 81, 255);
}
a:hover {
    color: rgb(0, 22, 218);
}
a:active {
    color: rgb(59, 128, 255);
}

headline {
    text-align: center;
}
headline h1 {
    color: rgb(0, 255, 65);
    font-family:'Courier New', Courier, monospace; /*cyper*/
    font-size: 45px ;
    text-shadow: 0px 0px 20px rgb(0, 255, 65)}
headline p {
    color: rgb(0, 153, 38);
    font-family: 'Times New Roman', Times, serif; /*Kursiv*/
    font-size: 20px;
}


.e-mail {
    color: rgb(4, 190, 113);
}